[simple autoencoder](https://blog.keras.io/building-autoencoders-in-keras.html)

In [158]:
%matplotlib inline
import tensorflow as tf
from keras.layers import Input, Dense
from keras.models import Model
from keras.datasets import mnist
import numpy as np
import matplotlib.pyplot as plt

In [162]:
import pandas as pd
from sklearn.model_selection import train_test_split
tf.__version__

'2.0.0'

In [91]:
train = pd.read_csv("S1-ADL1.dat",sep=" ",header=None)
train.fillna(0,inplace=True)

feat_columns = [c for c in train.columns if c not in [249,248,247,246,245,244,243,219,220,221,0]]
target_column = [c for c in train.columns if c in [249,248,247,246,245,244,243]]
feat_columns

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242]

In [92]:
train[target_column]

       243  244  245  246  247  248  249
0        0    0    0    0    0    0    0
1        0    0    0    0    0    0    0
2        0    0    0    0    0    0    0
3        0    0    0    0    0    0    0
4        0    0    0    0    0    0    0
5        0    0    0    0    0    0    0
6        0    0    0    0    0    0    0
7        0    0    0    0    0    0    0
8        0    0    0    0    0    0    0
9        0    0    0    0    0    0    0
10       0    0    0    0    0    0    0
11       0    0    0    0    0    0    0
12       0    0    0    0    0    0    0
13       0    0    0    0    0    0    0
14       0    0    0    0    0    0    0
15       0    0    0    0    0    0    0
16       0    0    0    0    0    0    0
17       0    0    0    0    0    0    0
18       0    0    0    0    0    0    0
19       0    0    0    0    0    0    0
20       0    0    0    0    0    0    0
21       0    0    0    0    0    0    0
22       0    0    0    0    0    0    0
23       0    0    0    0    0    0    0
24       0    0    0    0    0    0    0
25       0    0    0    0    0    0    0
26       0    0    0    0    0    0    0
27       0    0    0    0    0    0    0
28       0    0    0    0    0    0    0
29       0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...
51086    0    0    0    0    0    0    0
51087    0    0    0    0    0    0    0
51088    0    0    0    0    0    0    0
51089    0    0    0    0    0    0    0
51090    0    0    0    0    0    0    0
51091    0    0    0    0    0    0    0
51092    0    0    0    0    0    0    0
51093    0    0    0    0    0    0    0
51094    0    0    0    0    0    0    0
51095    0    0    0    0    0    0    0
51096    0    0    0    0    0    0    0
51097    0    0    0    0    0    0    0
51098    0    0    0    0    0    0    0
51099    0    0    0    0    0    0    0
51100    0    0    0    0    0    0    0
51101    0    0    0    0    0    0    0
51102    0    0    0    0    0    0    0
51103    0    0    0    0    0    0    0
51104    0    0    0    0    0    0    0
51105    0    0    0    0    0    0    0
51106    0    0    0    0    0    0    0
51107    0    0    0    0    0    0    0
51108    0    0    0    0    0    0    0
51109    0    0    0    0    0    0    0
51110    0    0    0    0    0    0    0
51111    0    0    0    0    0    0    0
51112    0    0    0    0    0    0    0
51113    0    0    0    0    0    0    0
51114    0    0    0    0    0    0    0
51115    0    0    0    0    0    0    0

[51116 rows x 7 columns]

### Normalise training data

In [93]:
def norm(x):
    x_max = max(x)
    x_min = min(x)
    
    return (x-x_min)/(x_max-x_min)

In [94]:
for f in feat_columns:
    train[f] = norm(train[f])
    
X_train, X_test, Y_train, Y_test = train_test_split(train[feat_columns], train[target_column], test_size=0.3)

In [114]:
X_train.fillna(0,inplace=True)
X_test.fillna(0,inplace=True)
X_train.isna().sum().sum()

0

In [105]:
# reduce to 40 features
encoding_dim = 80

input_df = Input(shape=(239,))
encoded = Dense(encoding_dim, activation='relu')(input_df)
decoded = Dense(239, activation='sigmoid')(encoded)

# encoder
autoencoder = Model(input_df, decoded)

# intermediate result
encoder = Model(input_df, encoded)

autoencoder.compile(optimizer='adadelta', loss='mean_squared_error')

In [106]:
autoencoder.fit(X_train, X_train,
                epochs=50,
                batch_size=256,
                shuffle=True,
                validation_data=(X_test, X_test))

Train on 35781 samples, validate on 15335 samples
Epoch 1/10
35781/35781 [==============================] - 1s 39us/step - loss: 0.0156 - val_loss: nan
Epoch 2/10
35781/35781 [==============================] - 1s 33us/step - loss: 0.0065 - val_loss: nan
Epoch 3/10
35781/35781 [==============================] - 1s 34us/step - loss: 0.0043 - val_loss: nan
Epoch 4/10
35781/35781 [==============================] - 1s 35us/step - loss: 0.0035 - val_loss: nan
Epoch 5/10
35781/35781 [==============================] - 1s 34us/step - loss: 0.0031 - val_loss: nan
Epoch 6/10
35781/35781 [==============================] - 1s 34us/step - loss: 0.0029 - val_loss: nan
Epoch 7/10
35781/35781 [==============================] - 1s 34us/step - loss: 0.0026 - val_loss: nan
Epoch 8/10
35781/35781 [==============================] - 1s 36us/step - loss: 0.0024 - val_loss: nan
Epoch 9/10
35781/35781 [==============================] - 1s 36us/step - loss: 0.0022 - val_loss: nan
Epoch 10/10
35781/35781 [==============================] - 1s 34us/step - loss: 0.0021 - val_loss: nan

### Apply prediction on reduced dimensional features

In [146]:
encoded_X_train = encoder.predict(X_train)
encoded_X_test = encoder.predict(X_test)
encoded_X_train.shape

(35781, 80)

In [18]:
y_pred = LR.predict(encoded_X_val)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [156]:
import seaborn as sns 
from sklearn.preprocessing import MinMaxScaler

In [111]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=200)
rfc.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [115]:
y_pred=rfc.predict(X_test)

In [142]:
y_pred[10]

array([     1,      0,      0,      0,    412,    517, 406517],
      dtype=int64)

In [119]:
Y_test

       243  244  245  246  247  248     249
48546    5  101    0    0    0    0       0
18700    0  103    0    0    0    0       0
22463    1  103    0    0    0    0       0
33512    1  105    0    0  405  507       0
6625     1    0    0    0    0    0       0
16482    0  103    0    0    0    0       0
33176    1  105    0    0  413  513       0
15777    0  103    0    0    0    0       0
6891     1    0    0    0    0    0       0
25540    1  102    0    0    0    0       0
47150    1    0    0    0  412  517  406517
8890     5  101    0    0    0    0       0
26125    1  102    0    0    0    0       0
50825    0    0    0    0    0    0       0
8513     2    0    0    0    0    0       0
13973    1  103    0    0  405  506  405506
8150     1    0    0    0    0    0       0
13221    1  103    0    0    0    0       0
32998    1  105    0    0    0    0       0
1872     0    0    0    0    0    0       0
32241    1  105  213  310  406  511  406511
47943    0  101    0    0    0    0       0
41562    4  105    0    0  413  513       0
12348    1  103  206  319    0    0  406519
5355     1    0    0    0    0    0       0
4057     1    0    0    0    0    0       0
730      0    0    0    0    0    0       0
21812    2  103    0    0    0    0       0
13487    1  103    0    0    0    0       0
38921    4  105    0    0    0    0       0
...    ...  ...  ...  ...  ...  ...     ...
50237    0    0    0    0    0    0       0
38467    4  105    0    0    0    0       0
14666    0  103    0    0    0    0       0
18456    0  103    0    0    0    0       0
50493    0    0    0    0    0    0       0
9928     1    0    0    0    0    0       0
15754    0  103    0    0    0    0       0
4292     1    0    0    0    0    0       0
25792    1  102    0    0    0    0       0
19150    0  103    0    0    0    0       0
28864    2    0    0    0  405  509       0
18166    0  103    0    0    0    0       0
8157     1    0    0    0    0    0       0
8329     1    0    0    0    0    0       0
12987    1  103    0    0    0    0       0
38968    4  105    0    0    0    0       0
11795    1  103    0    0  406  516  406516
5742     1    0    0    0    0    0       0
28546    1    0    0    0  402  513       0
25382    1  102    0    0    0    0       0
44917    1  104    0    0  404  511  404511
30608    1    0    0    0    0    0       0
1033     0    0    0    0    0    0       0
20043    0  103    0    0    0    0       0
12411    1  103    0    0    0    0       0
18997    0  103    0    0    0    0       0
44767    2  104    0    0  413  503       0
46588    2  104    0    0    0    0       0
41674    4  104    0    0  413  502       0
29482    1    0    0    0    0    0       0

[15335 rows x 7 columns]

In [143]:
#from sklearn import metrics
#cm = metrics.confusion_matrix(y_pred[],y_val)
#cm

In [144]:
rfc1 = RandomForestClassifier(n_estimators=200)
rfc1.fit(encoded_X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [151]:
encoded_y_pred = rfc1.predict(encoded_X_test)
encoded_y_pred.shape

(15335, 7)

In [155]:
(encoded_y_pred == Y_test).sum().sum()

106744